#page .showQuestions{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	align-content: center;
}

#page #UserSelect{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	align-content: center;
}
